<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_proxy" value="http://21.0.0.203:15004" />
    <add key="http_proxy.user" value="container_container_01D8QZ5AcshW5xcm4cVWjeax--claude_code_remote--d23bf7" />
    <add key="http_proxy.password" value="" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
